name: Build macOS release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew update
          brew install pkg-config giflib

      - name: Build plugin
        run: |
          export CPATH=/opt/homebrew/include
          export LIBRARY_PATH=/opt/homebrew/lib
          export PKG_CONFIG_PATH=/opt/homebrew/lib/pkgconfig
          make clean || true
          make


      - name: Package plugin
        run: |
          make dist

      - name: Create GitHub Release and upload artifact
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
